extends layout.pug

block content
  - let header = 'about';
  //- hardcoded varibles
  -
    let textArray = [
      'This is one line',
      'This is another line',
      'This is the last line'
    ];

  //- example of
  h1 This is the #{header.toUpperCase()} page

  each line in textArray
    p= line
