//- can type in code blocks, of multiline code

//- using hardcoded array to populate nav bar
-
  let navOptions = [
    { url: '/', name: 'Home' },
    { url: '/about', name: 'About' }
  ];

each item in navOptions
  a(href=`${item.url}`)= item.name
