body {
  color: tomato;
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
}

ul > li {
  display: inline;
  color: black;
  margin: 2rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: blue;
}
